[FORMAT]
max-line-length = 120

[MESSAGES CONTROL]
disable =
    C0301,  # line-too-long
    C0114,  # module string
    R1721,  # list()
    W0718,  # too broad general exception
    E1101,  # Module 'bcrypt' has no 'hashpw' member (no-member)