.upload-button{
  margin-bottom: 50px;
  text-align: center;
}
.take-button{
  margin-bottom: 50px;
  text-align: center;
}
/* ---------------------------------------- HOME FEED PAGE ------------------------------------------ */
.welcome-header{
  color: rgb(0, 0, 117);
  text-align: center;
  margin: 0;
  margin-top: 20%;
}
.scrollable{
  text-align: center;

}

.posts-container {
  display: flex;
  flex-wrap: wrap;
}

.post {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 30px;
}

.single-post {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  margin-top: 20%;
  box-sizing: border-box;
  text-align: center;
  width: 100%; 
}

.search{
  text-align: center;
}

.search-button{
  background-color: rgb(0, 0, 117);
  padding: 2px;
  color: white;
  font-weight: 500;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}


.post-button{
  background-color: rgb(0, 0, 117);
  padding: 10px;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  margin-bottom: 30px;

}