name: CI/CD for Web App

on:
  push:
    branches: [main, master]
  pull_request:
    types: [opened, closed]
    branches: [main, master]

permissions:
  contents: read
      
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r web_app/requirements.txt
        pip install pytest
        pip install pylint black
    - name: Run Pylint
      run: pylint web_app/app.py --ignore-patterns='.*\.pb2\.py,.*\.pb2_grpc\.py'
    - name: Run Black (Check mode)
      run: black --check web_app/
    #- name: Run tests
    #  run: pytest tests/web_app_tests.py
    - name: Build and run with Docker Compose
      run: docker-compose up --build -d
    - name: Check running services
      run: docker-compose ps
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'